
@font-face {
    font-family: 'SourceSansPro', sans-serif;
    src: 
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-Bold.otf'), 
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-Light.otf'),
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-Black.otf'),
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-BlackIt.otf'),
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-BoldIt.otf'),
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-ExtraLight.otf'),
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-Regular.otf'),
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-Semibold.otf'),
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-ExtraLightIt.otf'),
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-It.otf'),
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-LightIt.otf'),
    local('/Users/deborahkalekwa/Library/Fonts/SourceSansPro-SemiboldIt.otf');
  }
body {
    font-family: 'SourceSansPro', sans-serif; 
    color: var(--nav-text);
    margin: auto;
    line-height: 1.6;
    body {min-width:300px;}
  }
:root{--nav-text:#ffffff;
    --background-color:#C271FF;
    --heading-color:#071629;
    --text-color:#071629 50%;
    --text-color2:#D8D8D8;
    --colour-3:#000000;
    --background-colour2:#F2F2F2;
  }
.background{
    background-image: url(Object.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: auto;
    height: 1055px;
    min-width: auto;
}
.button{
    background-color: var(--background-color);
    color: var(--nav-text);
    text-align: center;
    font-size: 16px;
    margin: auto;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.buttondiv{
    margin: auto;
    width: 10%;
    max-width: fit-content;
    padding: 10px;
    white-space: nowrap;
}
.logo{
    height: 30px;
    width: 170;
    padding-right: 40px;
    margin: auto;
    margin-left: 35px;
   
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 1100px;
    padding: 60px;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
nav{
    justify-content: space-between;
    margin-left: 35px;
}
nav a{
    color: var(--nav-text);
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}
header ul{
    display: flex;
    justify-content: center;
    margin-right: 35px;
}
header nav ul li {
    padding: 20px;
    margin: 0 10px;
}
nav ul li {
    list-style-type: none;
}
h1{
    font-size: 120px;
    max-width: fit-content;
    width: 684px;
    height: 151px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
    line-height: 2;
    margin-bottom: auto;
}
.subheading{
    font-size: 20px;
    font-weight: bold;
    width: 10%;
    height: 16px;
    text-align:center;
    white-space: nowrap;
    line-height: 2;
    margin: auto;
    justify-content: space-between;
    padding: 60px;
}
.subheading span{
    margin-left: 5px;
}
.h2_learn{
    margin: auto;
    width: 10%;
    max-width: fit-content;
    white-space: nowrap;
    font-weight: 60;
    font-size: 32px;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
.h2_learn span{
    color: #C271FF;
    font-weight: bold;
}
.pros{
    display: flex;
    justify-content: space-between;
    width: 1009px;
    height: 237px;
    padding-top: 30px;
    margin: auto; 
}
.p1,.p2,.p3,.p4{
    width: 150px;
    height: 237px;
    text-align: center;
}
.p_for_pro{
    text-wrap: wrap;
    font-size: 16px;
    font-style: italic;
}
.h3_pro{
    font-size: 18px;
    font-weight: bolder;
}
.quote_block{
    width: 1440px;
    height: 392px;
    background-color: var(--background-color);
    margin: auto;
}
.actual_quote{
    width: 943px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    margin: auto;
}
.quote{
    text-align: left;
    width: 730px;
    height: auto;
    font-size: 22px;
    margin: auto;
}
blockquote{
    font-weight: 60;
    width: 730px;
    height: 68px;
    margin: 0;
}
.wp{
    font-weight: 60;
    font-style: italic;
}
.h3_name{
    width: 129px;
    height: 15px;
    font-weight: bold;
    text-wrap: nowrap;
    font-size: 22px;
}
.tutorial_section{
    color: #071629;
}
.h2_tut{
    font-weight: lighter;
    margin: auto;
    width: 10%;
    white-space: nowrap;
    font-size: 32px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 200px;
    text-align: center;
}
.h2_tut span{
    color: #C271FF;
    font-weight: bold; 
}
.video_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1228px;
    margin: auto;
    padding-bottom: 90px;
}
.video_description p{
    font-size: 14px;
    text-wrap: wrap;
    text-align: left;
    font-weight: 200;
}
.h3{
    font-size: 16px;
    font-weight: bold;
}
.video_3,.video_2,.video_4,.video_1{
    width: 255px;
    height: 335px;
}
.image_container { 
    position: relative; 
} 
 .play{ 
    position: absolute;
    left: 0; 
    bottom: 0;
} 
.play { 
    z-index: 1; 
    padding-bottom: 50px;
    padding-left: 70px;
} 
.teach_pic{
    width: 30px;
    height: 30px;
}
.h4{
    color: var(--background-color);
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
}
.teacher{
    display:flex;
    align-items: center;
}
.stars{
    color: #C271FF;
    display: flex;
}
.grey_star{
    color: var(--text-color2);
}
.stars_time{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stars_time p{
    color: #C271FF;
    font-weight: 600;
    font-size: 14px;
}
.membership{
    background-color: var(--heading-color);
    width: 1440px;
    height: 502px;
}
.h2_member{
    font-weight: lighter;
    margin: auto;
    width: 10%;
    white-space: nowrap;
    font-size: 32px;
    padding-top: 70px;
    padding-bottom: 30px;
    padding-right: 40px;
    text-align: center;
}
.h2_member span{
    color: #C271FF;
    font-weight: bold;  
}
.membership_block{
    display: flex;
    padding: 30px;
    align-items: justify;
    margin: auto;
    justify-content:space-between;
}
.mem1{
    text-align: center;
    font-size: 14px;
    width: 257px;
    height: 153px;
}
.mem1 p{
    font-weight: lighter;
    text-wrap: wrap;
}
.h3_member{
    font-size: 18px;
    font-weight: 400;
}
.faq_section{
    color: var(--heading-color);
    
}
.FAQ{
    display: flex;
    align-items: center;
    width: 920px;
    height: 707px;
    margin: auto;
}
.h2_faq{
    font-weight: lighter;
    margin: auto;
    width: 10%;
    white-space: nowrap;
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    text-align: center;
}
.block1 {
    float: left;
    width: 50%;
    padding: 10px;
  }
.faq_block1{

  }
  /* Clear floats after the columns */
  .fa _block1:after {
    content: "";
    display: table;
    clear: both;
  }
.block2{
    padding-top: 45px;
  }
.h3_faq{
    font-size: 16px;
    font-weight: bold;
}
.text{
    font-size: 14px;
    font-weight: lighter;
}
.footer_section{
    background-color: var(--heading-color);
    width: 1440px;
    height: 249;
    padding-bottom: 0;
}
.footer_image{
    width: 169px;
    height: 30px;
    padding-left: 20px;
}
.footer_block{
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.footer_socials{
    padding-right: 20px;
    display: inline;
}
.footer_copyright{
    margin: auto;
    width: 10%;
    font-size: 12px;
    font-weight: lighter;
}
